@tailwind base;
@tailwind components;
@tailwind utilities; 

body{
  font-family: 'Oswald', sans-serif;
  box-sizing: border-box;
}
.boxShadow{
  box-shadow: 0px 2px 10px -5px rgba(21,6,5,1);
}

.loader{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: white 8px solid;
  border-top: 8px solid rgb(255, 187, 0);
  animation: loading 500ms infinite linear;
}
@keyframes loading {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}